<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.js') }}"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
  <!--
    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

  
  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  -->
  {% if title %}
  <title>Serp.Tools - {{ title }}</title>
  {% else %}
  <title>Serp.Tools</title>
  {% endif %}
</head>

<body>
  <div class="navbar fixed-top navbar-dark bg-dark flex-md-nowrap p-0 shadow navbar-expand-lg">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('index') }}">SERP.TOOLS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('top10') }}">Парсинг ТОП-10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('lemma') }}">Лемматизация</a>
        </li>
      </ul>
      <ul class="navbar-right navbar-nav">
        {% if current_user.is_anonymous %}
        <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Вход</a></li>
        <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link">Регистрация</a></li>
        {% else %}
        <li class="nav-item"><a href="{{ url_for('user', username=current_user.username) }}"
            class="nav-link">Профиль</a>
        </li>
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Выход</a></li>
        {% endif%}

      </ul>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">{{ h1.h1 }}</h1>
        <p class="lead">Это уникальные инструменты для автоматизации процессов продвижения сайтов. Полезные инструменты
          для
          SEO специалистов и интернет-маркетологов: выгрузка ТОП, проверка индексации URL, проверка коммерциализации,
          парсинг
          подсветок Яндекса и многое другое.</p>
        <hr class="my-4">
        <p>Сервис бесплатный, зарегестрируйтесь, чтобы получить больше лимитов!</p>
        <a href="{{ url_for('tools') }}"><button type="button" class="btn btn-lg btn-primary">Попробовать
            бесплатно!</button></a>
      </div>
      <div class="card-deck mb-3 text-center">
        {% for service in services%}
        <div class="card mb-4 shadow-sm">
          <h4 class="card-header">{{ service.title }}</h4>
          <div class="card-body">
            <p class="card-text">{{ service.description }}</p>
            <button type="button" class="btn btn-block btn-botton btn-outline-primary"><a
                href="{{ service.url }}">{{ service.anchor }}</a></button>
          </div>
        </div>
        {% endfor %}
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">SERP.TOOLS &copy; 2019</small>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>