{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <br>
    <div class="page-header" style="text-align:center;">
      <h1>Лемматизация</h1>

      <div class="form-group" style="text-align:center;">
        <p>С помощью этого инструмента можно быстро лемматизировать текст (приводит к именительному падежу единственному
          числу)</p>

      </div>
    </div>

    <input type="hidden" name="_token" value="LEFF5lYnP0Uh0P6KsqA093HEtB2mzQGvmypqhFpU">
    <input type="hidden" name="yes" value="1">

    <div class="col-sm-6">
      <div class="form-group clearfix">
        <p class="zagolovok-tools">Ваш текст:</p>
        <div style="padding-left:0px;">
          <textarea name="text_for_lemma" onChange = "lenDO();" onKeyUp = "lenDO();" required="" class="form-control" placeholder="Ваш текст" rows="20" wrap="soft"></textarea>
        </div>
        <span id="textlength"><span class="label label-success">Всего <b>0</b> символов.</span> <span class="label label-info"> Без пробелов 0 символов.</span></span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group clearfix">
        <p class="zagolovok-tools">Выберите опции:</p>
        <div style="padding-left:0px;">
          <select class="form-control input-sm js-example-basic-single" name="ss" id="ss">
            <option value="1">Опция1</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  <br />
  <div class="col-sm-12" style="text-align:center;">
    <button type="submit" id="ok" class="btn btn-success">Лемматизировать....
    </button>
  </div>
  <br />
  <div class="col-sm-12 res " style="width:auto; clear: both; display:block">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="lemma-tab" data-toggle="tab" href="#lemma" role="tab" aria-controls="lemma"
          aria-selected="true">Леммы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="n-grams-tab" data-toggle="tab" href="#n-grams" role="tab" aria-controls="n-grams"
          aria-selected="false">N-граммы</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active lemma-res" id="lemma" role="tabpanel" aria-labelledby="lemma"></div>
      <div class="tab-pane fade n-grams-res" id="n-grams" role="tabpanel" aria-labelledby="n-grams"></div>
    </div>
  </div>

  <div id="progress"></div>
</div>
</div>

<script>
$(document).ready(function() {
    $('#datatable_slovoforms').DataTable();
} );
</script>
<script>
  $('#ok').click(function () {
    $('#container').html('<h3 align=center>Постановка задачи...</h3>')

    spin = $('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
    $('#ok').append(spin);
    $('.table-res').remove()

    $.ajax({
      url: "/ru/lemma/res",
      type: "POST",
      data: {
        text_for_lemma: $('textarea[name="text_for_lemma"]').val(),
      },
      dataType: "html",
      beforeSend: function () {
      },
      success: function (response) {
        var my_object = $.parseJSON(response);
        console.log(my_object)

        //print lemmas
        res = document.getElementsByClassName("lemma-res");
        var table = $('<table/ id="datatable_slovoforms" class="table table-restable table-striped table-bordered table-sm">');
        $(res).append(table);
        var thead = $('<thead/><tr/><th class="th-sm">#</th><th class="th-sm">Слово</th><th class="th-sm">Количество повторений</th>');
        $(table).append(thead);

        for (var i = 0; i < my_object[0].length; i++) {
          row = $('<tr/>');
          val = '<a href=' + JSON.stringify(my_object[0][i]) + '>' + (my_object[0][i]) + '</a>' + '<br>';
          row.append($('<td/ style="background-color:#FFFFFF;">').html(i + 1));
          row.append($('<td/ style="background-color:#FFFFFF;">').html(my_object[0][i][0]));
          row.append($('<td/ style="background-color:#FFFFFF;">').html(my_object[0][i][1]));
          $(table).append(row);
        };
        $(table).append(row);

        //print ngrams
        res = document.getElementsByClassName("n-grams-res");
        var table = $('<table/ id="datatable_ngrams" class="table table-restable table-striped table-bordered table-sm">');
        $(res).append(table);
        var thead = $('<thead/><tr/><th class="th-sm">#</th><th class="th-sm">Биграмма</th><th class="th-sm">Количество повторений</th>');
        $(table).append(thead);

        for (var i = 0; i < my_object[1].length; i++) {
          row = $('<tr/>');
          val = '<a href=' + JSON.stringify(my_object[1][i]) + '>' + (my_object[1][i]) + '</a>' + '<br>';
          row.append($('<td/ style="background-color:#FFFFFF;">').html(i + 1));
          row.append($('<td/ style="background-color:#FFFFFF;">').html(my_object[1][i][0][0] + ' ' + my_object[1][i][0][1]));
          row.append($('<td/ style="background-color:#FFFFFF;">').html(my_object[1][i][1])) ;
          $(table).append(row);
        };
        $(table).append(row);
        

        $('.spinner-border').remove()

      },
      error: function (x, t, e) {
        alert('Что-то пошло не так!' + x);
        console.log(error);
        $('.spinner-border').remove()
        if (t === 'timeout') {

        } else {
          alert('Ошибка: ' + e + t + x);
        }
      },
      timeout: 600000
    });

  });
</script>
<script type="text/javascript">
  lenDO();
  function lenDO(){
    var str = $('textarea[name="text_for_lemma"]').val()

    var len_y = str.length;
    
    var regexp=/[ \n\r]+/g;
    var str2=str.replace(regexp,"");
    
    var len_n = (str2.length);
  
    var txtlen = "<span class='label label-success'>Количество символов: <b>" + len_y + "<\/b>.</span> <span class='label label-info'> Без пробелов: <b>" + len_n + "<\/b>.</span>";
  
    document.getElementById('textlength').innerHTML = txtlen;
    }
  </script>
{% endblock %}