{% extends "base.html" %}

{% block content %}
<div class="main-container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-12">
        <br>
        <div class="main_table">
          <div class="page-header" style="text-align:center;">
            <h1>Анализ ТОП10 Google</h1>

            <div class="form-group">
              <p>Инструмент позволяет получить быстро получить данные выдачи поисковой системы Google</p>
              <p>
                <div class="alert alert-info" role="alert">
                  <noindex>
                    <p>Максимум 10 фраз в день для незарегистрированных пользователей, 50 в день - для зарегистрированных, независимо от глобальных лимитов.</p>
                  </noindex>
                </div>
              </p>
            </div>
          </div>

          <input type="hidden" name="_token" value="LEFF5lYnP0Uh0P6KsqA093HEtB2mzQGvmypqhFpU">
          <input type="hidden" name="yes" value="1">
          <div class="fields filter_center clearfix" style="margin: 0 auto;">
            <div class="form-group clearfix">
              <p class="zagolovok-tools">Ключевые слова: (осталось 10 из 10 проверок):</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <textarea name="keys"   required  class="form-control" placeholder="Каждая ключевая фраза с новой строки." rows="8" wrap="soft"></textarea>
              </div>
            </div>
            <div class="form-group clearfix">
              <p class="zagolovok-tools">Выберите поисковую систему:</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <select class="form-control input-sm js-example-basic-single" name="ss" id="ss">
                  <option value="1">Google</option>
                </select>
              </div>
            </div>
            <div class="form-group clearfix" id="select-yandex-wrapper">
              <p class="zagolovok-tools">Местоположение:</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <select id="select-loc" class="input-sm js-states" name="loc">
                  <option style="padding: 3px;" value="1011969">Москва</option>
                  <option style="padding: 3px;" value="1012040">Санкт-Петербург</option>
                  <option style="padding: 3px;" value="1001493">Минск</option>
                  <option style="padding: 3px;" value="1023191">Нью-Йорк</option>
                  <option style="padding: 3px;" value="1012852">Киев</option>
                  <option style="padding: 3px;" value="1012052">Екатеринбург</option>
                  <option style="padding: 3px;" value="1012054">Казань</option>
                  <option style="padding: 3px;" value="1011981">Нижний Новгород</option>
                  <option style="padding: 3px;" value="1011984">Новосибирск</option>
                  <option style="padding: 3px;" value="1011985">Омск</option>
                </select>
              </div>
            </div>

            <div class="form-group clearfix">
              <p class="zagolovok-tools">Глубина проверки:</p>
              <label class="btn btn-default btn-xs" style="padding-left:10px;">
                <input type="radio" name="groupby" id="optionsRadios1" value="10" checked>
                Топ-10
              </label>
              <label class="btn btn-default btn-xs">
                <input type="radio" name="groupby" id="optionsRadios1" value="20">
                Топ-20
              </label>
              <label class="btn btn-default btn-xs">
                <input type="radio" name="groupby" id="optionsRadios1" value="30">
                Топ-30
              </label>
              <label class="btn btn-default btn-xs">
                <input type="radio" name="groupby" id="optionsRadios1" value="50">
                Топ-50
              </label>
              <label class="btn btn-default btn-xs">
                <input type="radio" name="groupby" id="optionsRadios1" value="100">
                Топ-100
              </label>
            </div>

            <div class="form-group clearfix" id="select-google-wrapper">
              <p class="zagolovok-tools">Язык:</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <select id="select-lr" class="input-sm js-states" name="lr" >
                  <option style="padding: 3px;" value="af">Afrikaans</option>
                  <option style="padding: 3px;" value="ar">Arabic</option>
                  <option style="padding: 3px;" value="hy">Armenian</option>
                  <option style="padding: 3px;" value="be">Belarusian</option>
                  <option style="padding: 3px;" value="bg">Bulgarian</option>
                  <option style="padding: 3px;" value="ca">Catalan</option>
                  <option style="padding: 3px;" value="hr">Croatian</option>
                  <option style="padding: 3px;" value="cs">Czech</option>
                  <option style="padding: 3px;" value="da">Danish</option>
                  <option style="padding: 3px;" value="nl">Dutch</option>
                  <option style="padding: 3px;" value="en">English</option>
                  <option style="padding: 3px;" value="eo">Esperanto</option>
                  <option style="padding: 3px;" value="et">Estonian</option>
                  <option style="padding: 3px;" value="tl">Filipino</option>
                  <option style="padding: 3px;" value="fi">Finnish</option>
                  <option style="padding: 3px;" value="fr">French</option>
                  <option style="padding: 3px;" value="de">German</option>
                  <option style="padding: 3px;" value="el">Greek</option>
                  <option style="padding: 3px;" value="iw">Hebrew</option>
                  <option style="padding: 3px;" value="hi">Hindi</option>
                  <option style="padding: 3px;" value="hu">Hungarian</option>
                  <option style="padding: 3px;" value="is">Icelandic</option>
                  <option style="padding: 3px;" value="id">Indonesian</option>
                  <option style="padding: 3px;" value="it">Italian</option>
                  <option style="padding: 3px;" value="ja">Japanese</option>
                  <option style="padding: 3px;" value="ko">Korean</option>
                  <option style="padding: 3px;" value="lv">Latvian</option>
                  <option style="padding: 3px;" value="lt">Lithuanian</option>
                  <option style="padding: 3px;" value="no">Norwegian</option>
                  <option style="padding: 3px;" value="fa">Persian</option>
                  <option style="padding: 3px;" value="pl">Polish</option>
                  <option style="padding: 3px;" value="pt">Portuguese</option>
                  <option style="padding: 3px;" value="ro">Romanian</option>
                  <option style="padding: 3px;" value="ru" selected>Russian</option>
                  <option style="padding: 3px;" value="sr">Serbian</option>
                  <option style="padding: 3px;" value="sk">Slovak</option>
                  <option style="padding: 3px;" value="sl">Slovenian</option>
                  <option style="padding: 3px;" value="es">Spanish</option>
                  <option style="padding: 3px;" value="sw">Swahili</option>
                  <option style="padding: 3px;" value="sv">Swedish</option>
                  <option style="padding: 3px;" value="th">Thai</option>
                  <option style="padding: 3px;" value="tr">Turkish</option>
                  <option style="padding: 3px;" value="uk">Ukrainian</option>
                  <option style="padding: 3px;" value="vi">Vietnamese</option>
                </select>
              </div>
            </div>

            <div class="form-group clearfix" id="select-google-wrapper">
              <p class="zagolovok-tools">Домен:</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <select id="select-domain" class="input-sm js-states" name="domain" >
                  <option style="padding: 3px;" value="143">ru</option>
                  <option style="padding: 3px;" value="37">com</option>
                </select>
              </div>
            </div>

            <div class="form-group clearfix" id="select-google-wrapper">
              <p class="zagolovok-tools">Страна:</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <select id="select-country" class="input-sm js-states" name="country" >
                  <option style="padding: 3px;" value="2643">Russia</option>
                  <option style="padding: 3px;" value="2112">Belarus</option>
                </select>
              </div>
            </div>

            <div class="form-group clearfix" id="select-google-wrapper">
              <p class="zagolovok-tools">Устройство:</p>
              <div class="col-sm-12" style="padding-left:0px;">
                <select id="select-device" class="input-sm js-states" name="device" >
                  <option style="padding: 3px;" value="desktop">desktop</option>
                  <option style="padding: 3px;" value="mobile">mobile</option>
                  <option style="padding: 3px;" value="tablet">tablet</option>
                </select>
              </div>
            </div>

            <br />
            <div class="text-center">
              <button type="submit" id="ok" class="btn btn-success">Начать проверку....
              </button>
            </div>

            <div id="progress"></div>
            <div class="res" style="width:auto; clear: both; display:block"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>


<script>
  $('#ok').click(function () {
    $('#container').html('<h3 align=center>Постановка задачи...</h3>')
     // add spin to button
    spin = $('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
    $('#ok').append(spin);
    // add task status elements
     //div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
      //$('#progress').append(div);
      // create a progress bar
      
    //  var nanobar = new Nanobar({
      //    bg: '#44f',
        //  target: div[0].childNodes[0]
      //});

    $.ajax({
      url: "/ru/top10/res",
      type: "POST",
      data: {
        keys: $('textarea[name="keys"]').val(),
        loc: $('select[name="loc"]').val(),
        groupby: $("input[name='groupby']:checked").val(),
        lr: $('select[name="lr"]').val(),
        domain: $('select[name="domain"]').val(),
        country: $('select[name="country"]').val(),
        device: $('select[name="device"]').val(),
      },
      dataType: "html",
      beforeSend: function () {
      },
      success: function (response) {
        var my_object = $.parseJSON(response);
        console.log(my_object)

        var queries = my_object[0]
        var data = my_object[1]
        var status = my_object[2]
        var request = my_object[3]
        //console.log(queries)

        //пока статус обработки запроса false крутим спинер, костяк есть в ф-ии update_progress ниже...
        //status_url = request['Location'];        
        //этот код заменить на спинер
        //update_progress(status_url, nanobar, div[0]);

        
        //когда ответ от XMLRiver получен, тогда запускаем отрисовку результатов в табилце DOM
        for (key in my_object) {
          constructTable(key, my_object[key])
        };
        $('.spinner-border').remove()
        function constructTable(tablename, spisok) {
          res = document.getElementsByClassName("res");
          var table = $('<table/ class="table" style="width:280px;float:left;">');
          $(res).append(table);
          var thead = $('<thead/><tr/><th>#</th><th>' + tablename + '</th>');
          $(table).append(thead);
          for (var i = 0; i < spisok.length; i++) {
            row = $('<tr/>');
            val = '<a href=' + JSON.stringify(spisok[i]) + '>' + (spisok[i]) + '</a>' + '<br>';
            if (val == null) val = "";
            row.append($('<td/ style="background-color:#FFFFFF;">').html(i + 1));
            row.append($('<td/ style="background-color:#FFFFFF;">').html(val));
            $(table).append(row);
          };
        }        
      },
      error: function (x, t, e) {
        alert('Что-то пошло не так!' + x);
        console.log(error);
        $('.spinner-border').remove()
        if (t === 'timeout') {

        } else {
          alert('Ошибка: ' + e + t + x);
        }
      },
      timeout: 600000
    });

  });
</script>
 <script>
  function update_progress(status_url, nanobar, status_div) {
      // send GET request to status URL
      $.getJSON(status_url, function(data) {
          
          //удалить лишнее, функцию переделать под "Проверку ответа"
          percent = parseInt(data['current'] * 100 / data['total']);
          nanobar.go(percent);
          $(status_div.childNodes[1]).text(percent + '%');
          $(status_div.childNodes[2]).text(data['status']);
          if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
              if ('result' in data) {
                  // show result
                  $(status_div.childNodes[3]).text('Result: ' + data['result']);
              }
              else {
                  // something unexpected happened
                  $(status_div.childNodes[3]).text('Result: ' + data['state']);
              }
          }
          else {
              // rerun in 2 seconds
              setTimeout(function() {
                  update_progress(status_url, nanobar, status_div);
              }, 2000);
          }
      });
  }
</script>

{% endblock %}